# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.next/
out/
*.tsbuildinfo

# prisma generated client
packages/db/generated/
.prisma/

# env
.env
.env.docker
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# coverage / test
coverage/

# os / editor
.DS_Store
.idea/
.vscode/
